/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-color: #24292e;
}

.container {
  width: 50%;
  margin: auto;
  overflow: hidden;
}

/* Search Section */
.search {
  text-align: center;
  margin-top: 20px;
}

.search img {
  width: 100px;
  margin-bottom: 20px;
}

.search h2 {
  margin: 10px 0;
}

.search-input {
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.search-button:hover {
  background-color: #555;
}

/* Profile Section */
.profile {
  justify-content: center;
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  border: 2px solid #333;
  margin-right: 20px;
}

.profile h2 {
  margin: 0 0 10px 0;
}

.profile p {
  margin: 5px 0;
}

/* Repositories Section */
.repositories {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.repository {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.repository h4 {
  margin: 0 0 10px 0;
}

.repository p {
  margin: 5px 0;
}

.repository a {
  color: #0073e6;
  text-decoration: none;
}

.repository a:hover {
  text-decoration: underline;
}

/* Media Queries for Responsiveness */

/* Small devices (phones, 600px and below) */
@media only screen and (max-width: 600px) {
  .container {
      width: 90%;
  }

  .search-input {
      width: 80%;
  }

  .profile {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .profile img {
      margin: 0 0 20px 0;
  }
}

/* Medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
      width: 75%;
  }

  .search-input {
      width: 60%;
  }

  .profile {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .profile img {
      margin: 0 0 20px 0;
  }
}

/* Large devices (desktops, 768px and up) */
@media only screen and (min-width: 769px) {
  .container {
      width: 50%;
  }

  .search-input {
      width: 30%;
  }
}
